{% block sw_cms_element_hats_wp_post_preview %}
    <div class="sw-cms-element-hats-wp-post-preview">
        <img :src="'hatslogicwpintegration/static/cms/hats-logic-block-icon.png' | asset">
    </div>
{% endblock %}