{% block sw_cms_preview_hats_wp_post %}
    <div class="sw-cms-preview-hats-wp-post">
            <img :src="'hatslogicwpintegration/static/cms/hats-logic-block-icon.png' | asset">
    </div>
{% endblock %}