{% block sw_cms_element_hats_wp_page_preview %}
    <div class="sw-cms-element-hats-wp-page-preview">
        <img :src="'hatslogicwpintegration/static/cms/samplepage.png' | asset">
    </div>
{% endblock %}