{% block sw_cms_block_hats_wp_page %}
    <div class="sw-cms-block-hats-wp-page">
        <slot name="content">{% block sw_cms_block_hats_wp_page_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}