{% block block_hatslogic_wp_post_listing %}
    {% set element = block.slots.getSlot('content') %}
    <div id="hatslogic-post-list" class="hatslogic-list w-100">
        {% block block_hats_post_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
